<!DOCTYPE html>
<html>
  <head>
    <title>Chat examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat examples</h1>
    <ul>
      <li><a href="/polling/alice/">Polling</a></li>
      <li><a href="/longpolling/alice/">Long polling</a></li>
      <li><a href="/sse/alice/">Server-sent events (SSE)</a></li>
      <li><a href="/websocket/alice/">WebSocket</a></li>
    </ul>
  </body>
</html>
