<!DOCTYPE html>
<html>
  <head>
    <title>Chat examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat examples</h1>
    <ul>
      <li><a href="/polling/Leonhard%20Euler/">Polling</a></li>
      <li><a href="/longpolling/Leonhard%20Euler/">Long polling</a></li>
      <li><a href="/sse/Leonhard%20Euler/">Server-sent events (SSE)</a></li>
      <li><a href="/websocket/Leonhard%20Euler/">WebSocket</a></li>
    </ul>
  </body>
</html>
