<!DOCTYPE html>
<html>
  <head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user %></h1>
    <!-- action is not used as we send the form programmatically -->
    <form id="message" method="POST" action="send">
        <input type="text" name="message" />
        <input type="submit" value="Send" />
    </form>

    <!-- div used to display the exchanged messages, last message at the top  -->
    <div id="messages"></div>

    <script>
      message.onsubmit = event => {
        event.preventDefault(); // prevent form submission
        // Use URLSearchParams to send data as application/x-www-form-urlencoded instead of multipart/form-data
        let data = new URLSearchParams(new FormData(message));
        fetch('messages', {method: 'POST', body: data}); // POST to /polling/:user/messages, relative to where we are (/polling/:user/) !
      }

      // we will have to wait on the next polling to see our own message !
      async function polling() {
        let response = await fetch('messages'); // poll via GET /polling/:user/messages
        let json = await response.json(); // get the array of messages [{"user": "user1", "content": "msg1"}, {"user": "user2", "content": "msg2"}, ...]
        let html = json.map(message => `<p><b>${message.user}</b>: <i>${message.content}</i>`).join("");
        messages.innerHTML = html + messages.innerHTML; // prepend the new messages to the existing ones
      }
      setInterval(polling, 10000); // poll every ten seconds
    </script>
  </body>
</html>
